{{#each checkBoxchoices as |choice|}}
  <label for={{choice.id}}>
    <input type="checkbox" name={{model.id}} id={{choice.id}} checked={{choice.isChecked}} {{action 'onSelect' choice on="change"}} >
    <span>{{choice.label}}</span>
  </label>
{{/each}}